/* pages/jihua/jihua.wxss */
.jihua-container .first-tab .swiper,
.jihua-container .second-tab .swiper,
.jihua-container .third-tab .swiper {
  margin-bottom: 10rpx;
}
.jihua-container .first-tab .bg,
.jihua-container .second-tab .bg,
.jihua-container .third-tab .bg {
  display: flex;
  width: 100%;
  height: 800rpx;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.jihua-container .first-tab .bg image,
.jihua-container .second-tab .bg image,
.jihua-container .third-tab .bg image {
  padding: 10rpx;
  height: 400rpx;
  width: 400rpx;
}
.jihua-container .first-tab .plan-input,
.jihua-container .second-tab .plan-input,
.jihua-container .third-tab .plan-input {
  position: absolute;
  z-index: 100;
  bottom: 100rpx;
  width: 100%;
  display: flex;
  position: fixed;
}
.jihua-container .first-tab .plan-input input,
.jihua-container .second-tab .plan-input input,
.jihua-container .third-tab .plan-input input {
  flex: 5;
  border: 1rpx solid #999999;
  margin-left: 10rpx;
  border-radius: 10rpx;
  height: 80rpx;
  min-height: 80rpx;
  padding-left: 20rpx;
  background-color: #fff;
}
.jihua-container .first-tab .plan-input .button,
.jihua-container .second-tab .plan-input .button,
.jihua-container .third-tab .plan-input .button {
  margin: 10rpx;
  flex: 1;
  border-radius: 15rpx;
  background-color: #82b2d2;
  font-size: 35rpx;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.jihua-container .first-tab .addBtn,
.jihua-container .second-tab .addBtn,
.jihua-container .third-tab .addBtn {
  position: absolute;
  z-index: 100;
  background-color: #F3CD52;
  text-align: left;
  font-size: 110rpx;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  position: fixed;
  width: 90rpx;
  height: 90rpx;
  bottom: 100rpx;
  right: 60rpx;
  border: 0 solid #ffffff;
  border-radius: 1000rpx;
  line-height: 90rpx;
  padding-right: 70rpx;
  padding-left: 16rpx;
}
.jihua-container .first-tab .out,
.jihua-container .second-tab .out,
.jihua-container .third-tab .out {
  margin-top: 5rpx;
  height: 120rpx;
  background: white;
  width: 100%;
  white-space: nowrap;
}
.jihua-container .first-tab .out .item1,
.jihua-container .second-tab .out .item1,
.jihua-container .third-tab .out .item1 {
  width: 96%;
  height: 110rpx;
  background: white;
  display: inline-block;
  padding-right: 30rpx;
}
.jihua-container .first-tab .out .item2,
.jihua-container .second-tab .out .item2,
.jihua-container .third-tab .out .item2 {
  width: 12%;
  height: 120rpx;
  display: inline-block;
}
.jihua-container .first-tab .out .item2 image,
.jihua-container .second-tab .out .item2 image,
.jihua-container .third-tab .out .item2 image {
  width: 100%;
  height: 80rpx;
}
